<style>
    .container-modal-registro {
        height: 620px;
        overflow: auto;
        overflow-x: hidden !important;
        border: 1px solid whitesmoke;
    }

    .container-modal-registro .col-12 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 1px solid whitesmoke;
        gap: 10px;
    }

    .container-modal-registro .msj-validation {
        color:red !important;
    }

    .container-usuario {
        border: 1px solid red !important;
        width: 100vw !important;
        height: 100vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .p-datatable-gridlines tr th , .p-datatable-gridlines tr td {
        border:1px solid whitesmoke !important;
        text-align: center;
        vertical-align: middle;
    }
</style>

<div class="container-fluid container-usuario">
    <p-button label="Agregar Usuario" [outlined]="true" severity="success" icon="pi pi-user-plus" (click)="showModaAgregar=true;abrirModalAgregar()"></p-button>    
    <p-table [value]="listaUsuarios" [tableStyle]="{ 'width': '98%' }" styleClass="p-datatable-gridlines"
        [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" [scrollable]="true" scrollHeight="500px"
        [resizableColumns]="true" [ngStyle]="{'border': '2px solid whitesmoke'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre Completo</th>
                <th>Tipo Documento</th>
                <th>Genero</th>
                <th>Ciudad</th>
                <th>email</th>
                <th>Dirreccion</th>
                <th>Telefono</th>
                <th>Rol</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.nombreCompleto }}</td>
                <td>{{ user.tipoDocumento }}</td>
                <td>{{ user.genero }}</td>
                <td>{{ user.ciudad }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.dirreccion }}</td>
                <td>{{ user.telefono }}</td>
                <th><small>{{ user.rolNombre}}</small></th>
                <td>
                    <p-button icon="pi pi-pen-to-square" [text]="true" label="Editar" [raised]="true" severity="warning"
                        (click)="showModalEditar=true;abrirModalEditar()"></p-button>
                </td>
                <td>
                    <p-button icon="pi pi-times" [text]="true" label="Eliminar" [raised]="true" severity="danger"
                        (click)="showModalEliminar=true;abrirModalEliminar(user)"></p-button>

                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Un total de {{listaUsuarios ? listaUsuarios.length : 0 }} Usuarios.
            </div>
        </ng-template>
    </p-table>
</div>


<!--MODAL Agregar-->
<p-dialog header="Agregar Registro" [(visible)]="showModaAgregar" *ngIf="showModaAgregar" [modal]="true"
    [style]="{ width: '32rem' }">
    <form [formGroup]="userForm" >
        <div class="container container-modal-registro" style="padding: 1rem ;">
            <div class="row">
                <div class="col-12">
                    <label>Nombres</label>
                    <input type="text" pInputText [style]="{width: '420px'}" placeholder="Nombre Completo" formControlName="nombres"/>
                    <span class="msj-validation" *ngIf="userForm.get('nombres')?.errors?.['required'] && userForm.get('nombres')?.touched">El campo es requerido</span>
                </div>
                <div class="col-12">
                    <label>Apellidos</label>
                    <input type="text" pInputText [style]="{width: '420px'}" placeholder="Apellidos" formControlName="apellidos"/>
                    <span class="msj-validation" *ngIf="userForm.get('apellidos')?.errors?.['required'] && userForm.get('apellidos')?.touched">El campo es requerido</span>
                </div>
                <div class="col-12">
                    <label>Tipo Documento</label>
                    <p-dropdown [style]="{width: '420px'}" [options]="listaTipoDocumento" optionLabel="descripcion"
                        [filter]="true" filterBy="descripcion" [showClear]="true"
                        placeholder="Selecciona un Tipo de Documento" formControlName="tipoDocumento" optionValue="id">
                        <ng-template let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption.descripcion }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <span class="msj-validation" *ngIf="userForm.get('tipoDocumento')?.errors?.['required'] && userForm.get('tipoDocumento')?.touched" >El campo es requerido</span>
                </div>
                <div class="col-12">
                    <label>Número Documento</label>
                    <input type="text" pInputText [style]="{width: '420px'}" placeholder="Número Documento" formControlName="numeroDocumento" />
                    <span class="msj-validation" *ngIf="userForm.get('numeroDocumento')?.errors?.['required'] && userForm.get('numeroDocumento')?.touched">El campo es requerido</span>
                </div>
                <div class="col-12">
                    <label>Genero</label>
                    <p-dropdown [options]="listaGenero" optionLabel="descripcion" [filter]="true" filterBy="descripcion"
                        [showClear]="true" placeholder="Seleccione un Género" [style]="{width: '420px'}" formControlName="genero" optionValue="id">
                        <ng-template let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption.descripcion }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <span class="msj-validation" *ngIf="userForm.get('genero')?.errors?.['required'] && userForm.get('genero')?.touched">El campo es requerido</span>
                </div>
                <div class="col-12">
                    <label>Rol</label>
                    <p-dropdown [options]="listaRol" optionLabel="nombre" [filter]="true" filterBy="nombre"
                        [showClear]="true" placeholder="Seleccione un Rol" [style]="{width: '420px'}" formControlName="rol" optionValue="id">
                        <ng-template let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption.nombre }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <span class="msj-validation" *ngIf="userForm.get('rol')?.errors?.['required'] && userForm.get('rol')?.touched">El campo es requerido</span>
                </div>
                <div class="col-12">
                    <label>Ciudad</label>
                    <p-dropdown [options]="listaCiudad" optionLabel="nombre" [filter]="true" filterBy="nombre"
                        [showClear]="true" placeholder="Seleccione una Ciudad" [style]="{width: '420px'}" formControlName="ciudad" optionValue="id">
                        <ng-template let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption.nombre }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <span class="msj-validation" *ngIf="userForm.get('ciudad')?.errors?.['required'] && userForm.get('ciudad')?.touched">El campo es requerido</span>
                </div>
                <div class="col-12">
                    <label>Username</label>
                    <input type="text" pInputText [style]="{width: '420px'}" placeholder="Username" formControlName="nombreUsuario"/>
                    <span class="msj-validation" *ngIf="userForm.get('nombreUsuario')?.errors?.['required'] && userForm.get('nombreUsuario')?.touched">El campo es requerido</span>
                </div>
                <div class="col-12">
                    <label>Email</label>
                    <input type="text" pInputText [style]="{width: '420px'}" placeholder="Email" formControlName="email"/>
                    <span class="msj-validation" *ngIf="userForm.get('email')?.errors?.['required'] && userForm.get('email')?.touched">El campo es requerido</span>
                </div>
                <div class="col-12">
                    <label>Dirección</label>
                    <input type="text" pInputText [style]="{width: '420px'}" placeholder="Dirección" formControlName="direccion"/>
                    <span class="msj-validation" *ngIf="userForm.get('direccion')?.errors?.['required'] && userForm.get('direccion')?.touched">El campo es requerido</span>
                </div>
                <div class="col-12">
                    <label>Teléfono</label>
                    <input type="text" pInputText [style]="{width: '420px'}" placeholder="Teléfono" formControlName="telefono"/>
                    <span class="msj-validation" *ngIf="userForm.get('telefono')?.errors?.['required'] && userForm.get('telefono')?.touched">El campo es requerido</span>
                </div>
            </div>
        </div>
        <div class="text-center mt-2">
            <p-button icon="pi pi-times" label="Cancelar" [text]="true" [raised]="true" severity="secondary" (click)="showModaAgregar=false"></p-button>
            &nbsp;&nbsp;
            <p-button icon="pi pi-save" label="Agregar" [text]="true" [raised]="true" severity="success" (click)="guardarRegistro()"></p-button>
        </div>
    </form>
</p-dialog>



<!--MODAL EDITAR-->
<p-dialog header="Editar Registro" [(visible)]="showModalEditar" *ngIf="showModalEditar" [modal]="true"
    [style]="{ width: '32rem' }">
    <form>
        <div class="container container-modal-registro" style="padding: 1rem !
        ;">
            <div class="row">
                <div class="col-12">
                    <label>Nombre Completo</label>
                    <input type="text" pInputText [style]="{width: '420px'}" placeholder="Nombre Completo" />
                </div>
                <div class="col-12">
                    <label>Tipo Documento</label>
                    <p-dropdown [style]="{width: '420px'}" [options]="listaTipoDocumento" optionLabel="descripcion"
                        [filter]="true" filterBy="descripcion" [showClear]="true"
                        placeholder="Selecciona un Tipo de Documento">
                        <ng-template let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption.descripcion }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="col-12">
                    <label>Número Documento</label>
                    <input type="text" pInputText [style]="{width: '420px'}" placeholder="Número Documento" />
                </div>
                <div class="col-12">
                    <label>Genero</label>
                    <p-dropdown [options]="listaGenero" optionLabel="descripcion" [filter]="true" filterBy="descripcion"
                        [showClear]="true" placeholder="Seleccione un Género" [style]="{width: '420px'}">
                        <ng-template let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption.descripcion }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="col-12">
                    <label>Ciudad</label>
                    <p-dropdown [options]="listaCiudad" optionLabel="nombre" [filter]="true" filterBy="nombre"
                        [showClear]="true" placeholder="Seleccione una Ciudad" [style]="{width: '420px'}">
                        <ng-template let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption.nombre }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="col-12">
                    <label>Email</label>
                    <input type="text" pInputText [style]="{width: '420px'}" placeholder="Email" />
                </div>
                <div class="col-12">
                    <label>Dirección</label>
                    <input type="text" pInputText [style]="{width: '420px'}" placeholder="Dirección" />
                </div>
                <div class="col-12">
                    <label>Teléfono</label>
                    <input type="text" pInputText [style]="{width: '420px'}" placeholder="Teléfono" />
                </div>
            </div>
        </div>
        <div class="text-center mt-2">
            <p-button icon="pi pi-times" label="Cancelar" [text]="true" [raised]="true" severity="secondary"></p-button>
            &nbsp;&nbsp;
            <p-button icon="pi pi-check" label="Actualizar" [text]="true" [raised]="true" severity="warning"></p-button>
        </div>
    </form>
</p-dialog>

<!--MODAL ELIMINAR-->
<p-dialog header="¿Eliminar registro?" [(visible)]="showModalEliminar" *ngIf="showModalEliminar"
    [style]="{width: '50vw'}" [modal]="true">
    <div class="container">
        <div class="row">
            <div class="col-12">
                Esta acción eliminará permanentemente el registro del sistema.
            </div>
            <div class="col-12 mt-3 text-end">
                <p-button label="Cancelar" [text]="true" [raised]="true" severity="success" (click)="showModalEliminar=false;"></p-button>
                &nbsp;&nbsp;
                <p-button label="Eliminar" [text]="true" [raised]="true" severity="danger" (click)="inactivarRegistroUsuario()"></p-button>
            </div>
        </div>
    </div>
</p-dialog>