<style>
    .container-editar-registro {
        height: 500px;
        overflow: auto;
        overflow-x: hidden !important;
        border: 1px solid whitesmoke;
    }

    .container-editar-registro .col-12 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 1px solid whitesmoke;
    }
</style>

<p-table [value]="listaProducto" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-gridlines"
    [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" [scrollable]="true" scrollHeight="700px"
    [resizableColumns]="true">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre del Producto</th>
            <th>Descripcion del Producto</th>
            <th>Precio del Producto</th>
            <th>Categoria del Producto</th>
            <th>Descripcion de la Categoria</th>
            <th>Img</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.productoNombre }}</td>
            <td>{{ product.productoDescripcion }}</td>
            <td>{{ product.productoPrecioUnidad }}</td>
            <td>{{ product.nombreCategoria }}</td>
            <td>{{ product.descripcionCategoria }}</td>
            <td>{{ product.urlImg }}</td>
            <td>
                <p-button icon="pi pi-pen-to-square" [text]="true" label="Editar" [raised]="true" severity="warning" (click)="showModalEditar=true;abrirModalEditar()"
                  ></p-button>
            </td>
            <td>
                <p-button icon="pi pi-times" [text]="true" label="Eliminar" [raised]="true"
                    severity="danger" (click)="showModalEliminar=true"></p-button>

            </td>

        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            Un total de {{listaProducto ? listaProducto.length : 0 }} Productos.
        </div>
    </ng-template>
</p-table>

<p-dialog header="Editar Registro" [(visible)]="showModalEditar" *ngIf="showModalEditar" [modal]="true"
    [style]="{ width: '32rem' }">
    <form>
        <div class="container container-editar-registro" style="padding: 1rem !;">
            <div class="row">
                <div class="col-12">
                    <label>Nombre del Producto</label>
                    <input type="text" pInputText [style]="{width: '420px'}" placeholder="Nombre Completo" />
                </div>
                <div class="col-12">
                    <label>Descripcion del Producto</label>
                    <div class="card flex justify-content-center">
                        <textarea rows="5" cols="30" pInputTextarea [autoResize]="true"  style="resize: none;" [style]="{width: '420px'}"></textarea>
                    </div>
                    
                </div>
                <div class="col-12">
                    <label>Categoria del Producto</label>
                    <p-dropdown [style]="{width: '420px'}" [options]="listaCategoriaProducto" optionLabel="descripcion"
                    [filter]="true" filterBy="descripcion" [showClear]="true"
                    placeholder="Selecciona la categoria del Producto">
                    <ng-template let-selectedOption>
                        <div class="flex align-items-center gap-2">
                            <div>{{ selectedOption.descripcion }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                </div>
                <div class="col-12">
                    <label>Precio del Producto</label>
                    <p-inputNumber inputId="integeronly" [style]="{width: '420px'}"> </p-inputNumber>
                </div>
            </div>
        </div>
        <div class="text-center mt-2">
            <p-button icon="pi pi-times" label="Cancelar" [text]="true" [raised]="true" severity="secondary"></p-button>
            &nbsp;&nbsp;
            <p-button icon="pi pi-check" label="Actualizar" [text]="true" [raised]="true" severity="warning"></p-button>
        </div>
    </form>
</p-dialog>



<!--MODAL ELIMINAR-->
<p-dialog header="¿Eliminar registro?" [(visible)]="showModalEliminar"  *ngIf="showModalEliminar" [style]="{width: '50vw'}" [modal]="true">
    <div class="container">
        <div class="row">
            <div class="col-12">
                Esta acción eliminará permanentemente el registro del sistema.
            </div>
            <div class="col-12 mt-3 text-end">
                <p-button label="Cancelar" [text]="true" [raised]="true" severity="success"></p-button>
                &nbsp;&nbsp;
                <p-button label="Eliminar" [text]="true" [raised]="true" severity="danger"></p-button>
            </div>
        </div>
    </div>
</p-dialog>