<style>
    .container-modal-registro {
        height: 100% !important;
        overflow: hidden !important;
        border: 1px solid whitesmoke;
    }

    .container-modal-registro .col-12 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 1px solid whitesmoke;
    }

    /**/
    .p-datatable-gridlines {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 100% !important;
        margin: 0 auto;
    }

    .p-datatable-gridlines tr th,
    .p-datatable-gridlines tr td {
        border: 1px solid whitesmoke !important;
        text-align: center;
        vertical-align: middle;
    }

    /**/
    .container-producto {
        width: 100% !important;
        height: 100vh !important;
        /* display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;*/
        overflow-x: hidden !important;
    }


    .custom-dropdown .ui-dropdown-panel {
        z-index: 1050;
    }
</style>


<div class="container-fluid container-producto">
    <div class="text-center mb-2">
        <p-button label="Agregar Producto" [raised]="true" severity="success" icon="pi pi-box"
            (click)="cargarDatosModalAgregar();showModalAgregar=true;"></p-button>
    </div>
    <p-table [value]="listaProducto" [tableStyle]="{ 'width': '100%' }" styleClass="p-datatable-gridlines"
        [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" [scrollable]="true" scrollHeight="600px"
        [resizableColumns]="true" [ngStyle]="{'border': '2px solid whitesmoke'}"
        [globalFilterFields]="['productoNombre', 'productoDescripcion', 'productoPrecioUnidad', 'nombreCategoria','descripcionCategoria']">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    Nombre del Producto
                    <p-columnFilter type="text" field="productoNombre" display="menu"></p-columnFilter>
                </th>
                <th>
                    Descripcion del Producto
                    <p-columnFilter type="text" field="productoDescripcion" display="menu"></p-columnFilter>
                </th>
                <th>
                    Precio del Producto
                    <p-columnFilter type="text" field="productoPrecioUnidad" display="menu"></p-columnFilter>
                </th>
                <th>
                    Categoria del Producto
                    <p-columnFilter type="text" field="nombreCategoria" display="menu"></p-columnFilter>
                </th>
                <th>
                    Descripcion de la Categoria
                    <p-columnFilter type="text" field="descripcionCategoria" display="menu"></p-columnFilter>
                </th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.productoNombre }}</td>
                <td>{{ product.productoDescripcion }}</td>
                <td>{{ product.productoPrecioUnidad }}</td>
                <td>{{ product.nombreCategoria }}</td>
                <td>{{ product.descripcionCategoria }}</td>
                <td>
                    <p-button icon="pi pi-pen-to-square" label="Editar" [outlined]="true" severity="warning"
                        (click)="showModalEditar=true;cargarDatosModalEditar(product)"></p-button>
                </td>
                <td>
                    <p-button icon="pi pi-times" label="Eliminar" [outlined]="true" severity="danger"
                        (click)="showModalEliminar=true;idEliminarProducto=product.idProducto"></p-button>

                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Un total de {{listaProducto ? listaProducto.length : 0 }} Productos.
            </div>
        </ng-template>
    </p-table>
</div>


<!--AGREGAR REGISTRO-->
<p-dialog header="Agregar Producto" [(visible)]="showModalAgregar" *ngIf="showModalAgregar" [modal]="true"
    [style]="{ width: '32rem' }">
    <form [formGroup]="productoForm">
        <div class="container-fluid container-modal-registro" style="padding: 1rem !important;">
            <div class="row">
                <!-- Nombre del Producto -->
                <div class="col-12">
                    <label>Nombre del Producto</label>
                    <input type="text" pInputText [style]="{width: '420px'}" placeholder="Nombre del Producto"
                        formControlName="nombre" />
                    <span class="msj-validation"
                        *ngIf="productoForm.get('nombre')?.errors?.['required'] && productoForm.get('nombre')?.touched">
                        El campo es requerido
                    </span>
                </div>

                <!-- Descripción del Producto -->
                <div class="col-12">
                    <label>Descripcion del Producto</label>
                    <div class="card flex justify-content-center">
                        <textarea rows="5" cols="30" pInputTextarea [autoResize]="true" style="resize: none;"
                            [style]="{width: '420px'}" formControlName="descripcion"></textarea>
                    </div>
                    <span class="msj-validation"
                        *ngIf="productoForm.get('descripcion')?.errors?.['required'] && productoForm.get('descripcion')?.touched">
                        El campo es requerido
                    </span>
                </div>

                <!-- Categoría del Producto -->
                <div class="col-12">
                    <label>Categoria del Producto</label>
                    <p-dropdown 
                        [style]="{width: '420px'}"
                        [panelStyle]="{'z-index': '9999', 'min-width': '420px'}"
                        [options]="listaCategoriaProducto" 
                        optionLabel="descripcion"
                        [filter]="true" 
                        filterBy="descripcion" 
                        [showClear]="true"
                        placeholder="Selecciona la categoria del Producto" 
                        formControlName="idCategoriaProducto"
                        optionValue="id"
                        [appendTo]="'body'"
                        [baseZIndex]="1000"
                        [autoZIndex]="true"
                        [scrollHeight]="'200px'"
                    >
                        <ng-template let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption.descripcion }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <span class="msj-validation"
                        *ngIf="productoForm.get('idCategoriaProducto')?.errors?.['required'] && productoForm.get('idCategoriaProducto')?.touched">
                        El campo es requerido
                    </span>
                </div>

                <!-- Precio del Producto -->
                <div class="col-12">
                    <label>Precio del Producto</label>
                    <p-inputNumber inputId="integeronly" [style]="{width: '420px'}" placeholder="Precio del Producto"
                        formControlName="precio" mode="currency" currency="USD" locale="en-US">
                    </p-inputNumber>
                    <span class="msj-validation"
                        *ngIf="productoForm.get('precio')?.errors?.['required'] && productoForm.get('precio')?.touched">
                        El campo es requerido
                    </span>
                </div>
            </div>
        </div>

        <!-- Botones -->
        <div class="text-center mt-2">
            <p-button icon="pi pi-times" label="Cancelar" [text]="true" [raised]="true" severity="secondary"
                (click)="showModalAgregar=false"></p-button>
            &nbsp;&nbsp;
            <p-button icon="pi pi-check" label="Guardar" [text]="true" [raised]="true" severity="success"
                (click)="saveRegistroProducto()"></p-button>
        </div>
    </form>
</p-dialog>


<!--EDITAR REGISTRO-->
<p-dialog header="Editar Registro" [(visible)]="showModalEditar" *ngIf="showModalEditar" [modal]="true"
    [style]="{ width: '32rem' }">
    <form [formGroup]="productoForm">
        <div class="container container-modal-registro" style="padding: 1rem !;">
            <div class="row">
                <div class="col-12">
                    <label>Nombre del Producto</label>
                    <input type="text" pInputText [style]="{width: '420px'}" placeholder="Nombre del Producto"
                        formControlName="nombre" />
                    <span class="msj-validation"
                        *ngIf="productoForm.get('nombre')?.errors?.['required'] && productoForm.get('nombre')?.touched">El
                        campo es requerido</span>

                </div>
                <div class="col-12">
                    <label>Descripcion del Producto</label>
                    <div class="card flex justify-content-center">
                        <textarea rows="5" cols="30" pInputTextarea [autoResize]="true" style="resize: none;"
                            [style]="{width: '420px'}" formControlName="descripcion"></textarea>
                    </div>
                    <span class="msj-validation"
                        *ngIf="productoForm.get('descripcion')?.errors?.['required'] && productoForm.get('descripcion')?.touched">El
                        campo es requerido</span>
                </div>
                <div class="col-12">
                    <label>Categoria del Producto</label>
                    <p-dropdown class="custom-dropdown" [options]="listaCategoriaProducto" optionLabel="descripcion"
                        [filter]="true" filterBy="descripcion" [showClear]="true"
                        placeholder="Selecciona la categoria del Producto" formControlName="idCategoriaProducto"
                        optionValue="id">
                        <ng-template let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption.descripcion }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>


                    <span class="msj-validation"
                        *ngIf="productoForm.get('idCategoriaProducto')?.errors?.['required'] && productoForm.get('idCategoriaProducto')?.touched">El
                        campo es requerido</span>
                </div>
                <div class="col-12">
                    <label>Precio del Producto</label>
                    <p-inputNumber inputId="integeronly" [style]="{width: '420px'}" placeholder="Precio del Producto"
                        formControlName="precio"> </p-inputNumber>
                    <span class="msj-validation"
                        *ngIf="productoForm.get('precio')?.errors?.['required'] && productoForm.get('precio')?.touched">El
                        campo es requerido</span>
                </div>
            </div>
        </div>
        <div class="text-center mt-2">
            <p-button icon="pi pi-times" label="Cancelar" [text]="true" [raised]="true" severity="secondary"></p-button>
            &nbsp;&nbsp;
            <p-button icon="pi pi-check" label="Actualizar" [text]="true" [raised]="true" severity="warning"
                (click)="actualizarProducto()"></p-button>
        </div>
    </form>
</p-dialog>


<!--MODAL ELIMINAR-->
<p-dialog header="¿Eliminar registro?" [(visible)]="showModalEliminar" *ngIf="showModalEliminar"
    [style]="{width: '50vw'}" [modal]="true">
    <div class="container">
        <div class="row">
            <div class="col-12">
                Esta acción eliminará permanentemente el registro del sistema.
            </div>
            <div class="col-12 mt-3 text-end">
                <p-button label="Cancelar" [text]="true" [raised]="true" severity="success"></p-button>
                &nbsp;&nbsp;
                <p-button label="Eliminar" [text]="true" [raised]="true" severity="danger"
                    (click)="inactivarRegistroProducto()"></p-button>
            </div>
        </div>
    </div>
</p-dialog>