<!-- ejemplo.component.html -->
<div class="report-container">
    <div id="contenidoParaPDF">
        <!-- Encabezado del Reporte -->
        <div class="report-header">
            <div class="company-info">
                <img src="assets/logo.png" alt="Logo" class="company-logo">
                <div class="company-details">
                    <h1>REPORTE TOP 5 DE LO CLIENTES FRECUENTES</h1>
                    <p class="report-date">Fecha: {{currentDate | date:'dd/MM/yyyy'}}</p>
                </div>
            </div>
        </div>

        <!-- Tabla de Productos -->
        <div class="card report-content">
            <div class="table-header">
                <h2>Listado de Clientes</h2>
                <div class="table-actions">
                    <button pButton type="button" (click)="descargarPDF()" class="p-button-primary"
                        icon="pi pi-file-pdf" label="Generar PDF">
                    </button>
                </div>
            </div>
        </div>

        <p-table #dt [value]="listaClientesFrecuentes" [rows]="listaClientesFrecuentes.length" [paginator]="true"
            [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id" styleClass="p-datatable-gridlines"
            id="tableToExport" [globalFilterFields]="['nombreCompleto', 'totalCompras', 'montoTotal']">

            <ng-template pTemplate="header">
                <tr>
                    <th>
                        Nombre del Cliente
                        <p-columnFilter type="text" field="nombreCompleto" display="menu"></p-columnFilter>

                    </th>
                    <th>
                        Numero de Compras
                        <p-columnFilter type="text" field="totalCompras" display="menu"></p-columnFilter>
                    </th>
                    <th pSortableColumn="montoTotal">
                        Total en Compras
                        <p-columnFilter type="text" field="montoTotal" display="menu"></p-columnFilter>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-cliente>
                <tr>
                    <td>{{cliente.nombreCompleto}}</td>
                    <td>{{cliente.totalCompras}}</td>
                    <td>{{ "$ " + (cliente.montoTotal).toLocaleString('es-CO') }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="report-footer">
        <p>© {{currentDate | date:'yyyy'}} Centro Comercial Santa Fe - Todos los derechos reservados</p>
    </div>
</div>